wp-config.php

wp-content/uploads/
wp-includes
wp-admin
wp-config

*.log
*.sql
*.zip
*.tar.gz
.DS_Store
Thumbs.db
node_modules/
vendor/

wp-content/plugins/*

wp-content/themes/*
!wp-content/themes/sm-prueba/